.bg-image {
    background: url(../images/background_ring_resized_1920x1080.jpg);
    min-height: 100%;
    min-width: 1920px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1920px){
    .bg-image {
        left: 50%;
        margin-left: -960px;
    }

/*.bg-image {
    background: url(../images/background_ring_resized_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}
p {
    color:darkgoldenrod;
    font-size: 48px;
}
