h1 {
margin-bottom: 20px;
color: cornflowerblue;	
text-align: center;
}
h2 {
color: cornflowerblue;
font-family: 'Times New Roman', Times, serif;	
}
h3:hover	{
font-size: 150%;
}
h3	{
color:#FF8C00;
}
h4, p {
    color: white;
}
.rsvp {
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    text-align: center;
    color: white;
}

.input-tag {
    width: auto;
    border: 5px solid #808080;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
}
