body{
    background-color: burlywood;
}

.top-img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    filter: sepia();
    border-radius: 15%;
}


footer {
    text-align: center;
    font-weight: bolder;
}

tr, th, td {
    border: 1px solid teal;
    padding: 15%;
}

.header {
    background-color: whitesmoke;
}

.bottom-img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    filter: sepia();
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.column {
    background-color: blueviolet;
    float: left; /*its "floating" in relation to the text.*/
    width: 50%; /*fifty percent of what?*/
    color:blanchedalmond;
    width: 400px;
}

p:hover { /*this only applies when hovered over*/
    cursor: zoom-in;
    color: brown;
    font-size: 150%
}

.container {
    position: relative;
    width: auto;  
}

.image {
    display: block;
    width: auto;
    height: auto; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0s ease;
}

.container:hover .overlay {
    width: 100%;
}

.answers {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}